:root {
  --color-cabecera: #5e81d1;
  --color-barra-informativa: #f87500;
  --color-principal: #ff8d27;
  --color-texto: #333;
  --altura-cabecera: 150;
  --altura-sidebar: 100;
  --altura-principal: 600;
  --color-border: #cccccc;
  --color-button: #5e81d1;
  --color-hover: #c16b1e;
}
* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cabecera {
  background-color: var(--color-cabecera);
  height: var(--altura-cabecera);
  padding: 20px 10px;
  flex: var(--altura-cabecera);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  flex: var(--altura-sidebar);
}
.principal {
  flex: var(--altura-principal);
  padding-top: 45px;
  padding-bottom: 45px;
}
.cabecera, .sidebar, .principal {
  padding-left: 25px;
  padding-right: 25px;
}

.sidebar {
  background-color: var(--color-barra-informativa);
  height: var(--altura-sidebar);
}
.principal {
  background-color:var(--color-principal);
  height: var(--altura-principal);
}
h1, h2, h3 {
  margin: 0;
  margin-bottom: 0;
  display: flex;
}
h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul, li
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.navegacion{
    display:flex;
    padding-inline-end: 20px;
    justify-content: space-between;
    flex-direction: row;
}

 .menu_navegacion{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 }

nav ul li {
  margin-left: 1px;
  padding-left: 180%;
  align-items:center;
  display:flex;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.invisible {
  visibility: hidden;
}
.invisible i {
  visibility: visible;
}
.tachado {
  text-decoration: line-through;
}
.compras .lista {
  border-bottom: solid 1px var(--color-border);
  font-size: 20px;
}
.compras .lista ul {
  display: flex;
  justify-content: space-between;
}
.compras .lista ul li {
  margin-bottom: 7px;
  margin-top: 7px;
}
.compras .lista ul:hover {
  background-color: var(--color-hover);
}
.compras .precio_total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 30px;
  padding-bottom: 30px;
}
.compras .precio_total h3 {
  font-weight: normal;
  font-size: 24px;
}
.grey {
  color: #212529;
}
.big {
  font-size: 45px;
}

.articulo h3 {
  margin-bottom: 34px;
  font-weight: 600;
  font-size: 28px;
}
.articulo form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}
.articulo form input {
  border: none;
  margin-bottom: 25px;
}
.articulo form .campo label {
  margin-bottom: 20px;
}
.articulo form input[type=text], .articulo form input[type=number] {
  width: 302px;
  height: 60px;
}
.articulo form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.articulo form .campo {
  display: flex;
  flex-direction: column;
}
.articulo form .campo .precio {
  display: inline;
}
.articulo form .campo .precio .unidades {
  margin-left: 4px;
}
.articulo form .boton input {
  background-color: var(--color-button);
  color: white;
  width: 115px;
  height: 60px;
  font-size: 22px;
}
