:root {
  --color-cabecera: #5e81d1;
  --color-barra-informativa: #f87500;
  --color-principal: #ff8d27;
  --color-texto: #333;
  --altura-cabecera: 150;
  --altura-sidebar: 100;
  --altura-principal: 600;
}
* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cabecera {
  flex: var(--altura-cabecera);
}
.sidebar {
  flex: var(--altura-sidebar);
}
.principal {
  flex: var(--altura-principal);
  padding-top: 45px;
  padding-bottom: 45px;
}
.cabecera, .sidebar, .principal {
  padding-left: 25px;
  padding-right: 25px;
}

.cabecera {
  background-color: var(--color-cabecera);
  height: var(--altura-cabecera-pie);
}
.sidebar {
  background-color: var(--color-barra-informativa);
  height: var(--altura-sidebar);
}
.principal {
  background-color:var(--color-principal);
  height: var(--altura-principal);
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}
ul, li
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.invisible {
  visibility: hidden;
}
.invisible i {
  visibility: visible;
}
.tachado {
  text-decoration: line-through;
}
.compras .lista {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #cccccc;
}
.compras .lista ul li {
  margin-bottom: 15px;
}
.compras .precio_total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 30px;
  padding-bottom: 30px;
}
.compras .precio_total h3 {
  font-weight: normal;
}
.grey {
  color: #212529;
}
.big {
  font-size: 45px;
}
